Menu_XSD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="dessert_menu">
   <xs:complexType>
    <xs:sequence minOccurs="2" maxOccurs="unbounded">
      <xs:element name="category">
       <xs:complexType>
         <xs:sequence minOccurs="1" maxOccurs="unbounded">
          <xs:element name="position" type="xs:string" use="required"/>
           <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="title" type="xs:string" use="required"/>
                <xs:element name="price" type="xs:decimal" use="required"/>
                <xs:element name="desc" type="xs:string" use="required"/>
                <xs:element name="status" type="xs:string" use="required"/>
                <xs:element name="subcategory" type="xs:string" use="required"/>
                   <xs:complexType>
                      <xs:sequence minOccurs="2" maxOccurs="5">
                          <xs:element name="title" type="xs:string"/>
                          <xs:element name="status" type="xs:string"/>
                      </xs:sequence>
                 </xs:complexType>
            </xs:sequence>
         </xs:complexType>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>

             